@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    height: 100%;
    /* background-color: rgb(179, 143, 212); */
}
.hero-board{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
}

.bank-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
    height: 100%;
    /* background-color: aqua; */
}
.bank-info h1{
    margin: 0;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: 210px; 
    display: block;
}
.position-info{
    align-self: center;
}
.position-info h1{
    margin: 0;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.money{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 40%;
    height: 100%;
    align-items: center;
}
.money h1{
    margin: 0;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.money h3{
    text-align: center;
}
.position-money{
   
}


.sub-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 60px;
    background-color: rgb(253, 235, 214);
    align-self: center;
}
.sub-bar-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: aquamarine; */
    width: 24%;
    height: 80%;
    
}
.sub-bar-card h3{
    text-align: center;
}

.transaction-btn-div {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 28%;
    height: 100%;
}

.transfer-btn {
    width: 80%;
    height: 22%;
    border-radius: 7px;
    border-style: solid 1px black;
    border-color: black;
    background-color: transparent;
    font-size: 20px;
}

.upcoming-transaction{
    width: 60%;
    height: 10rem;
    background-color: blueviolet;
    align-self: center;
}
.past-transaction{
    width: 60%;
    height: 25rem;
    background-color: rgb(186, 129, 239);
    align-self: center;
}
.page-container-va{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}