{% extends 'Base.html'%}
{% block body %}
<h1>{{CardType}}</h1>
<div class="Account-info">
    <p>Verify Your INFO</p>
    <p>{{UserInfo["FullName"]}}</p>
    <p>{{UserInfo["Address"]}}</p>
    <p>{{UserInfo["PhoneNumber"]}}</p>
    <p>{{UserInfo["SSN"]}}</p>
    {% if Error %}
    <p>{{Error}}</p>
    {% else %}
    <p>{{Success}}</p>
    {%endif%}
    <form action="{{url_for('CardSend')}}" method="POST">
        <input type="hidden" name="Cardtype" value="{{CardType}}">
    <input type="submit"name="CreateCard" value="Create Card"/>
    </form>
    <buton>Cancel</button>
</div>
<div>

</div>
{% endblock %}