<style>
    .hero h1{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .page-container{
        align-items: center; /* Center vertically */
    }
</style>


{% extends 'Base.html' %}
{%block body%}
<section class="hero"><h1>Welcome to PyBank</h1></section>
<section class="page-container">
    <div class="grid-Container">
        {%if not cards%}
        <div class="account-card">
            <div class="account-info">
                <h2>Open an Account</h2>
                <h4>Explore all our products now to find an account that's right for you.</h4>
            </div>
            <div class="view-account-button"><a type="Button" onclick="OpenModal()" class="acount-card-btn">Open A New Account</a></div>
        </div>
        {%else%}
        {% for card in cards %}
        <div class="account-card">
            <div class="account-info">
                <h2></h2>
                <h1 style="font-size: 40px;">{{ card['balance'] }}</h1>
                <h4>AVAILABLE BALANCE</h4>
            </div>
            <div class="view-account-button"><button class="acount-card-btn" onclick="window.location.href = '/ViewAccount'">View Account</button></div>
        </div>
        {% endfor %}
        {%endif%}
    </div>
    <!-- Modal Structure -->
<div class="modal fade" id="accountModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountModalLabel">Account Details</h5>
                <button type="button" class="btn-close" ></button>
            </div>
            <div class="modal-body">
                <!-- Dynamically populate modal content -->
                {% if cards %}
                <p>Account Type: 360 Checkings</p>
                <p>Available Balance: $0</p>
                {% else %}
                <p>No account details available.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button onclick="CloseModal()" class="btn btn-secondary" >Close</button>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock %}
