<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/Login.css">
    <title>Login</title>
</head>
<body>
    
        <div class = "Login-Container">
            {%if error%}
            <div class ="Welcome-Container" style="background-color:red ;">
        
            <h1>Not a User</h1>
        {%else%}
        <div class ="Welcome-Container">
        <h1>Welcome</h1>
            <h2>to <span>PyBank</span></h2>
        {%endif%}
        </div>
        <div class="Form-Container">
            <form class ="SignUpLogIn" action="/" method="POST">
                <input class="input_field" type="text" placeholder="Username" name ="username"required/>
                <input class="input_field" type="password" placeholder="Password" name="Password" autocomplete="off" required>
                <input type="hidden">
                <input class="input_submit Login"type = "Submit" value="Log In"><button onclick="window.location.href = '/Register'" class ="input_submit">Sign Up</button>
            </form>
        </div>
        </div>
        
        
</body>
</html>



