

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/Login.css">
    <title>Sign Up</title>
    <style>
        .radio-name .input_field{
            padding: 0;
        }
        .SignUpLogIn{/* for form */
            gap:0.5rem;
        }
        .SignUpLogIn input{ /* for input */
            width: 60%;
        }
        .input_submit{
            width: 60%;
        }
    </style>
</head>
<body>
    <div class="Login-Container">
        <div class ="Welcome-Container">
        <h1>Register Page</h1>
        {% if error %}
        <h2> {{error}} </h2>
        {% else %}
        <h2>{{success}}</h2>
        {% endif %}
    </div>
        <form class ="SignUpLogIn"action="/Register" method="POST">
            <input type="text" name="first_name" placeholder="First name" class="input_field"> <br>
            <input type="text" name="last_name" placeholder="Last name" class="input_field"> <br>
            <input type="text" name="SSN" placeholder="SSN" class="input_field"> <br>
            <input type="text" name="PhoneNumber" placeholder="Phone #"required class="input_field"> <br>
            <input type="text" name="Address" placeholder="Enter address" class="input_field"> <br>
            <input type="text" name="Username" placeholder="Username" class="input_field"> <br>
            <input type="password" name="password" placeholder="Password" class="input_field" required> <br>
            <input type="submit" value="Sign Up" class="input_submit">
            <button onclick="window.location.href = '/'" class ="input_submit">Log In</button>
        </form>
    </div>
    
</body>
</html>
    

    